#main-image {
	
	font-style: italic;
	
	font-variant: normal;
	
	font-size: 18pt;
	
	display: block;
	
	text-align: center;
	
}

#main-image img {
	
	width: 90%;
	
	border: 1px solid black;
	
	margin-bottom: 0.5em;
	
}

a#main-image,
a#main-image:hover,
#main-image:hover * {
	
	text-decoration: none;
	
}

#main-image:hover .title {
	
	text-decoration: underline;
	
}

#main-image .size {
	
	font-size: 0.65em;
	
	margin-top: 0.35em;
	
}

@media (max-width: 360px) {
	
	#main-image img {
		
		width: 100%;
		
	}
	
}